window {
    font-size: 20px;
    font-family: "CaskaydiaCove NF";
}

#outer-box {
    background: #2a2a2a;
}

#input {
    background-color: #2a2a2a;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1.5em;
}

#scroll {
    margin-top: 15px;
}

#entry {
    background-color: transparent;
    padding: 1em;
}

#entry:selected {
    background-color: #cacaca;
    color: #2a2a2a;
    padding-left: 3em;
    outline: none;
}

#img {
    margin-left: 0.5em;
}

#text {
    margin-left: 1em;
}
