@import 'themes/catppuccin-mocha';

// ---------------------------------- Variable ----------------------------------
$gl-padding: 0px 10px;
$gl-radius: 8px;

$text-fontsize: 18px;

$btn-padding: 0px 13px;
$btn-fontsize: 30px;

$widget-padding: 5px 0px;
$widget-margin: 10px;

// ---------------------------------- Global ----------------------------------
* {
    all: unset; //Unsets everything so you can style everything from scratch
    font-family: "CaskaydiaCove NFM";
}

.bar {
    background-color: rgba($color: $surface0, $alpha: 0.5);
}

.left-widgets,
.center-widgets,
.right-widgets {
    padding: $widget-padding;
}

.left-widgets {
    margin-left: $widget-margin;
}

.right-widgets {
    margin-right: $widget-margin;
}

tooltip.background {
    background-color: $crust;
    border-radius: $gl-radius;
    font-size: $text-fontsize;
    color: $text;
}

tooltip label {
    margin: 5px;
}

// ---------------------------------- Left section ----------------------------------
.system-menu,
.workspaces-widget {
    padding: $gl-padding;
    background-color: $base;
    border-radius: $gl-radius;
    font-size: $btn-fontsize;
}

.system-menu {
    color: $blue;
}

.workspace-button {
    &-active {
        padding: 0px 5px;
        color: $sky;
    }

    &-deactive {
        padding: 0px 5px;
        color: $overlay0;
    }
}

// ---------------------------------- Central section ----------------------------------
.date-time,
.noti-button {
    background-color: $base;
    border-radius: $gl-radius;
}

.date-time {
    padding: $gl-padding;
    font-size: $text-fontsize;
    color: $text;
}

// ---------------------------------- Right section ----------------------------------
.system-gauges,
.power-menu {
    padding: $gl-padding;
    background-color: $base;
    border-radius: $gl-radius;
}

.system-monitor-circular {
    background-color: $overlay0;
    color: $peach;
}

.power-menu {
    padding: $btn-padding;
    font-size: $btn-fontsize;
    color: $red;
}
