/* Catppuccin mocha colors */

window {
    font-size: 20px;
    font-family: "CaskaydiaCove NF";
    background: transparent;
}

#outer-box {
    background: #1e1e2e;
}

#input {
    background-color: #1e1e2e;
    border: 2px solid #89b4fa;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
}

#scroll {
    margin-top: 10px;
    border: 2px solid #b4befe;
}

#entry {
    background-color: #1e1e2e;
    padding-top: 1em;
    padding-bottom: 1em;
}

#entry:selected {
    background-color: #7f849c;
}

#img {
    margin-left: 2.5em;
}

#text {
    color: #cdd6f4;
    margin-left: 1.5em;
}

#text:selected {
    color: #1e1e2e;
    font-size: 25px;
    margin-left: 2.5em;
}
