// ---------------------------------- Variable ----------------------------------
$gl-padding: 0px 10px;
$gl-radius: 8px;

$text-fontsize: 18px;

$btn-padding: 0px 13px;
$btn-fontsize: 30px;

$widget-padding: 5px 0px;
$widget-margin: 10px;

// ---------------------------------- Global ----------------------------------
.bar {
  background-color: rgba($color: $surface2, $alpha: 0.3);
}

.bar-groups {
  padding: 7px 0px;
}

.left-group {
  margin-left: 10px;
}

.right-group {
  margin-right: 10px;
}

// ---------------------------------- Builtin ----------------------------------

tooltip {
  label {
    padding: 0px 5px;
  }

  &.background {
    background-color: $base;
    border: 2px solid $blue;
    border-radius: 8px;
    font-size: 18px;
    color: $text;
  }
}

button {
  background-color: $base;
  border-radius: 8px;
  padding: 0px 10px;
  font-size: 30px;
}

// ---------------------------------- Common ----------------------------------

.bar-container {
  background-color: $base;
  border-radius: 8px;
  padding: 0px 10px;
  color: $text;
  font-size: 18px;
}

// ---------------------------------- Left section ----------------------------------
.archbutton {
  color: $blue;
}

.workspaces {
  button {
    padding: 0px 5px;
    background-color: transparent;

    label {
      font-size: 30px;
    }

    label.active {
      color: $sky;
    }

    label.deactive {
      color: $overlay0;
    }
  }
}

// ---------------------------------- Central section ----------------------------------
.date-time {
  padding: 0px 15px;
}

// ---------------------------------- Right section ----------------------------------
.systemtray {
  padding: $gl-padding;
  background-color: $base;
  border-radius: $gl-radius;
}

.systemtray {
  font-size: 20px;
  color: $text;

  menu {
    background-color: $surface2;
    border-radius: $gl-radius;
    padding: 0.5em;

    menuitem {
      padding: 0.25em;

      arrow {
        -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
        color: $text;

        min-width: 1em;
        min-height: 1em;
      }

      &:disabled {
        label {
          color: $subtext0;
        }
      }

      &:hover {
        background-color: $overlay0;
      }
    }
  }

  separator {
    background-color: $text;
    padding-top: 0.06em;

    &:last-child {
      padding: unset;
    }
  }
}

.system-gauge {
  padding-right: 5px;
  padding-left: 8px;
  // background-color: rgba($color: #fff, $alpha: 0.3);

  .gauge {
    background-color: $overlay0;
  }

  .cpu {
    color: $red;
  }

  .memory {
    color: $green;
  }

  .io {
    color: $blue;
  }
}

.powerbutton {
  color: $red;
}
