// ---------------------------------- Builtin ----------------------------------
window {
  background-color: $crust;
}

tooltip {
  label {
    padding: 0px 5px;
  }

  &.background {
    background-color: $base;
    border: 2px solid $blue;
    border-radius: 8px;
    font-size: 18px;
    color: $text;
  }
}

button {
  background-color: $base;
  border-radius: 8px;
  padding: 0px 10px;
  font-size: 30px;
}

menu {
  padding: 0.4em 0.5em;
  background-color: $base;
  border: 2px solid $pink;
  border-radius: 8px;
  font-size: 16px;

  menuitem {
    border-radius: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 0.25em;

    arrow {
      -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
      color: $text;

      min-width: 1em;
      min-height: 1em;
    }

    &:disabled {
      label {
        color: $subtext0;
      }
    }

    &:hover {
      background-color: $surface2;
    }
  }
}

separator {
  background-color: $text;
  padding-top: 0.06em;

  &:last-child {
    padding: unset;
  }
}

// ---------------------------------- GROUPS ----------------------------------

.bar-groups {
  padding: 7px 0px;
}

.left-group {
  margin-left: 10px;
}

.right-group {
  margin-right: 10px;
}

.bar-container {
  background-color: $base;
  border-radius: 8px;
  padding: 0px 10px;
  color: $text;
  font-size: 18px;
}

.icon-container {
  border-radius: 8px 0px 0px 8px;
  padding: 0px 10px;
  font-size: 30px;

  label {
    color: $base;
  }
}

.info-container {
  border-radius: 0px 8px 8px 0px;
  background-color: $base;
  color: $text;
  font-size: 16px;
}

// ---------------------------------- Left section ----------------------------------

.dashboard-button {
  background-color: $yellow;
  border-radius: 8px;

  &:hover {
    background-color: $sky;
  }
}

.workspaces {
  &-icon {
    background-color: $pink;
  }

  &-info {
    padding-left: 6px;
    padding-right: 10px;

    button {
      padding: 0px 5px;
      background-color: transparent;

      &:hover {
        background-color: $surface0;
      }

      label {
        font-size: 30px;
      }

      label.active {
        color: $pink;
      }

      label.deactive {
        color: $overlay0;
      }
    }
  }
}

.systray {
  &-icon {
    background-color: $flamingo;
  }

  &-tray {
    background-color: $base;
    padding-left: 13px;
    padding-right: 10px;
  }
}

// ---------------------------------- Central section ----------------------------------


// ---------------------------------- Right section ----------------------------------

.system-gauge {
  padding: 0px 2px 0px 5px;

  .gauge {
    background-color: $overlay0;
  }

  .cpu {
    color: $red;
  }

  .memory {
    color: $green;
  }

  .io {
    color: $blue;
  }
}

.confirm-button:hover,
.dynamic-button:hover {
  box {
    background-color: rgba($color: $overlay0, $alpha: 0.4);
  }
}

.dynamic-button {
  box {
    padding: 0px 15px;

    label {
      font-size: 30px;
    }

    .poweroff {
      color: $red;
    }

    .reboot {
      color: $peach;
    }

    .exit {
      color: $lavender;
    }

    .lock {
      color: $blue;
    }
  }
}

.separator {
  font-size: 25px;
  margin-left: 5px;
  margin-right: 6px;
}

.confirm-button {
  box {
    padding: 0px 15px;

    label {
      font-size: 30px;
    }

    .confirm {
      color: $red;
    }

    .cancel {
      color: $blue;
    }
  }
}

.bluetooth {
  &-icon {

    &-off,
    &-no-device,
    &-on {
      &:hover {
        background-color: $sky;
      }
    }

    &-off {
      border-radius: 8px;
      background-color: $red;
    }

    &-no-device {
      border-radius: 8px;
      background-color: $blue;

      label {
        font-size: 25px;
        padding: 0px 1px;
      }
    }

    &-on {
      background-color: $blue;
    }

  }

  &-devices {

    &-show {
      label {
        padding-left: 8px;
        padding-right: 8px;
        color: $blue;
        font-weight: bold;
      }
    }

    &-hide {
      background-color: transparent;
    }
  }
}

.wifi {
  &-icon {

    &-disabled,
    &-disconnected,
    &-connecting,
    &-unknown {
      border-radius: 8px;
    }

    &-disabled {
      background-color: $base;
    }

    &-disconnected {
      background-color: $red;
    }

    &-connecting {
      background-color: $yellow;
    }

    &-connected {
      background-color: $green;
    }
  }

  &-ssid {

    &-disconnected,
    &-disabled,
    &-connecting,
    &-unknown {
      background-color: transparent;
    }

    &-connected {
      background-color: $base;

      label {
        padding-left: 6px;
        padding-right: 10px;
        color: $green;
        font-weight: bold;
      }
    }
  }
}

.datetime {
  &-icon {
    background-color: $mauve;
  }

  &-info {
    label {
      padding-left: 6px;
      padding-right: 10px;
      color: $mauve;
      font-weight: bold;
    }
  }
}
