@import '../themes/catppuccin-mocha';

* {
    all: unset;
    font-family: "CaskaydiaCove NFM";
}

.bar {
    background-color: rgba($color: $surface0, $alpha: 0.9);
    color: $text;
}

// button {
//     min-width: 0;
//     padding-top: 0;
//     padding-bottom: 0;
//     background-color: transparent;
// }

// button:active {
//     background-color: $green;
// }

// button:hover {
// border-bottom: 3px solid $yellow;
// }

// label {
//     font-weight: bold;
// }

.bar-item {
    margin-top: 5px;
    margin-bottom: 5px;
}

.left-item {
    margin-left: 10px;
}

.right-item {
    margin-right: 10px;
}

.box-item {
    background-color: $base;
    border-radius: 8px;
    padding: 0px 10px;
}

.arch-button {
    padding: 0px 13px;
    font-size: 30px;
    color: $blue;
}

.workspaces {
    button {
        background-color: transparent;
        padding: 3px 5px;
        color: $overlay0;
        font-size: 30px;

        &.focused {
            color: $teal;
        }

        &:hover {
            background-color: transparent;
            color: $green;
        }
    }
}

.client-title {
    color: $text;
    font-size: 17px;
}

.clock {
    padding: 0px 20px;
    background-color: $base;
    border-radius: 8px;
    font-size: 17px;
}

.notification {
    &-new {
        color: $yellow;
    }

    &-empty {
        color: $green;
    }
}

.systemtray {
    background-color: $base;
    padding: 0px 10px;
    border-radius: 8px;

    button {
        border-radius: 4px;
        padding: 0px 9px;

        &:hover {
            background-color: $overlay0;
        }
    }
}

.system-indicator {
    &-button {
        padding: 0px 12px;
        border-radius: 4px;
        font-size: 18px;

        &:hover {
            background-color: $overlay0;
        }
    }
}

.bluetooth-indicator {
    label {
        &.connected {
            font-size: 28px;
            color: $sky;
        }

        &.disconnected {
            font-size: 20px;
            color: $text;
        }
    }
}

.noti-indicator {
    font-size: 25px;

    label {
        &.new-message {
            color: $peach;
        }

        &.empty {
            color: $green;
        }
    }
}
